$dark: #0F0F0F;

.main_page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 70px 400px auto;
    font-family: sans-serif;
    scroll-behavior: smooth;
    .folders {
        height: 100%;
        background-color: #181818;
        .burger_menu {
            width: 70px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .folder {
            width: 70px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &.active {
                background: rgba(255,255,255,0.1);
                .folder_icon,
                .folder_name {
                    color: #0088cc;
                }
            }
            .folder_icon {
                color: #ddd;
                font-size: 32px;
                margin-bottom: 8px;
            }
            .folder_name {
                color: #ddd;
                font-weight: bold;
                font-size: 10px;
            }
        }
    }
    .chats {
        height: 100vh;
        background-color: #212121;
        overflow-y: auto;
        &:hover::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        }
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        .search_bar {
            height: 50px;
            padding: 8px;
            display: flex;
            align-items: center;
            position: sticky;
            top: 0;
            background-color: #212121;
            input {
                width: 100%;
                padding: 8px 16px;
                background-color: rgb(37, 51, 56);
                border: none;
                color: #FFFFFF;
                border-radius: 20px;
                outline: none;
                font-size: 16px;
            }
        }
        &_list {
            .chat {
                height: 60px;
                padding: 8px;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background: rgba(255,255,255,0.1);
                }
                .left {
                    .chat_img {
                        width: 44px;
                        height: 44px;
                        margin-right: 12px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: #DDD;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .right {
                    width: 100%;
                    .chat_name {
                        margin-bottom: 4px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #eee;
                    }
                    .last_msg {
                        font-size: 14px;
                        color: #999;
                    }
                }
            }
        }
    }
    .messages {
        height: 100%;
        background-color: $dark;
        position: relative;
        background-size: 300px;
        .top {
            height: 50px;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            background-color: $dark;
            .chat_data {
                .name {
                    span {
                        font-size: 14px;
                        color: #FFF;
                    }
                }
                .members {
                    span {
                        font-size: 12px;
                        color: #888;
                    }
                }
            }
            .right {
                display: flex;
                .icon {
                    margin-left: 16px;
                    color: #888;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        .middle {
            padding: 1rem;
            height: calc(100vh - 100px);
            overflow: auto;
            background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tinybirdgames.com%2F2017%2F04%2F11%2Ffreebies-telegram-backgrounds%2F&psig=AOvVaw2ImUqwdHzrZY5X1V31iaxM&ust=1631973354833000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPCVodOUhvMCFQAAAAAdAAAAABAt");
            box-sizing: border-box !important;
            &::-webkit-scrollbar {
                width: 5px;
                border-radius: 3px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              }
               
            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
            }
            .message {
                max-width: 450px;
                padding: 6px 50px 6px 8px;
                margin-bottom: 8px;
                display: inline-block;
                position: relative;
                color: #FFF;
                background-color: $dark;
                border-radius: 8px 8px 8px 0;
                &.from_me {
                    float: right;
                    background-color: blue;
                    border-radius: 8px 8px 0 8px;
                    .tail {
                        left: auto;
                        right: -5px;
                        border: none;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid blue;
                    }
                }
                &:last-of-type {
                    margin-bottom: 30px;
                }
                .content {
                    font-size: 14px;
                    word-break: break-all;
                }
                .time {
                    font-size: 10px;
                    position: absolute;
                    right: 6px;
                    bottom: 4px;
                }
                .tail {
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    bottom: 0;
                    left: -5px;
                    background-color: transparent;
                    border-left: 10px solid transparent;
                    border-bottom: 10px solid $dark;
                }
            }
        }
        .bottom {
            width: 100%;
            height: 50px;
            display: grid;
            grid-template-columns: 40px auto 40px 40px;
            align-items: center;
            background-color: $dark;
            .input {
                display: flex;
                align-items: center;
                input {
                    width: 100%;
                    outline: none;
                    background-color: transparent;
                    border: none;
                    color: #FFF;
                }
            }
            .icon {
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #999;
                cursor: pointer;
            }
        }
    }
}